<!DOCTYPE html>
<html>
  <head>
    <title>Regzgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
  <div class="container-fluid top-nav">
     <div class="row">
      <div class="col-2">
        <i class="fa fa-camera-retro fa-2x"></i>
      </div>
        <div class="col-6 brand">
          RegzGRAM
        </div>
        <div class="col-4 add">
          <% if current_user %>
          Welcome, <%= current_user.email %>.
          <%= link_to "New Post", new_gram_path %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to "Sign In", new_user_session_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </div>
     
  </div>

    
    <%= yield %>
  </body>
</html>
